@import 'vars';
@import 'fonts';
@import 'global';

.header {
  background-color: $accent-color;
  padding-top: 60px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__btn {
  background: transparent;
  cursor: pointer;
}
.header__btn.menu {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  &:hover span:first-child {
    transform: translateY(-2px);
  }
  &:hover span:last-child {
    transform: translateY(2px);
  }
}
.header__btn.menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease;
}
.header__item.btn {
  margin-left: 80px;
}

// header-adaptive
@media (max-width:1024px) {
  .header__btn img,
  .header__btn.menu span {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }
}
@media (max-width:600px) {
  .header__inner {
    flex-direction: column;
  }
  .header__btn.menu span {
    height: 2px;
  }
  .logo {
    margin-bottom: 25px;
  }
}

.nav__show {
  background-color: $accent-color;
  position: absolute;   
  top: 0;                
  left: 0;
  width: 100%;            
  z-index: 50;           
  opacity: 0;
  pointer-events: none;
    transform: translateY(-30%);
  transition: all 0.5s ease;   
  &.active {
    opacity: 1;              
    pointer-events: auto; 
    transform: translateY(0);
  }
}

.nav__head {
  padding: 40px 0;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  &-btn {
    background: transparent;
    cursor: pointer;
    &.menu {
      width: 30px;
      height: 24px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      transition: 0.3s ease;
      position: relative;
      cursor: pointer;
      span {
        position: absolute;
        top: 11px;
        left: 16px;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        transform: translate(-50%, 50%);
        &:first-child {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &-item.btn {
    margin-left: 80px;
  }

  
}

 // navigation
.nav {
  background-color: #2F2F2F;
  &__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  &__menu-item {
    padding: 27px 0;
  }
  &__menu-link {
    font-size: 16px;
    @include FuturaPT-500;
    text-transform: uppercase;
    letter-spacing: .96px;
    position: relative;
    display: inline-block;
    &::after {
      content: '';
       position: absolute;
       width: 0;
       height: 1.8px;
       background-color: #fff;
       display: block;
       left: 50%;
       top: 49px;
       transform: translate(-50%);
       transition: all 0.3s ease;

    }
    &:hover::after {
      width: 100%;
      background-color: $gold-color;
    }
    &.used {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.8px;
        background-color: #fff;
        display: block;
        top: 49px;
      }
    }
  }
}

// categories nav

.nav__categories {
  padding: 70px 0;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #2F2F2F;
    height: 1.8px;
    left: 0;
    bottom: 0;
  }
  &-list{
    display: flex;
    gap: 100px;
  }
  &-item {
    margin-bottom: 30px;
  }
  &-title {
    font-size: 16px;
    margin-bottom: 30px;
    @include FuturaPT-600;
    text-transform: uppercase;
    letter-spacing: .95px;
  }
  &-sublist {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &-subitem {
    font-size: 18px;
  }
  &-sublink {
    letter-spacing: .96px;
    position: relative;
      &::after {
      content: '';
       position: absolute;
       width: 0;
       height: 1.8px;
       background-color: #fff;
       display: block;
       left: 50%;
       top: 25px;
       transform: translate(-50%);
       transition: all 0.3s ease;
       display: inline-block;
    }
    &:hover::after {
      width: 100%;
      background-color: $gold-color;
    }
    &.brands {
      color: #EFC58B;
      opacity: 0.9;
      font-style: italic;
      @include SegoeUI-300;
      font-size: 16px;
    }
  }
}

// bottom nav 

.bottom__nav {
  padding: 70px 0;
}
.bottom__content {
  display: flex;
  gap: 140px;
}
.bottom__box {
  padding: 30px;
  max-width: 750px;
  width: 100%;
  height: 270px;
  background-image: url(../images/navbot.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
    p {
      z-index: 10;
      letter-spacing: 1.5px;
    }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 14, 33, 0.4);
    z-index: 1;
  }
  &-subtitle {
    justify-self: flex-start;
    z-index: 10;
    letter-spacing: .95px;
  }
  &-title {
    align-self: center;
    justify-self: center;
    margin-top: 55px;
    margin-left: 25px;
    text-align: center;
    font-size: 48px;
    @include Forum-400;
    z-index: 10;
    letter-spacing: .65px;
  }
  &-link {
    position: absolute;
    justify-self: flex-end;
    bottom: 20px;
    right: 100px;
    z-index: 10;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scaleX(1.04);
      opacity: 0.7;
    }
  }
}

.box__arrow-btn {
  position: absolute;
  background-color: transparent;
  bottom: 20px;
  z-index: 10;
  right: 45px;
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    transform: translateX(7px);
  }
}


.bottom__phone {
  margin-bottom: 15px;
  &-desc {
     text-transform: uppercase;
     margin-bottom: 15px;
     font-size: 14px;
   }
   &-tel {
    color: $desc-color;
    @include FuturaPT-300;
   }
}

.bottom__social {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  &-link {
    img {
      transition: all 0.3s ease;
      &:hover {
        transform: scale(0.8);
      }
    }
  }
}

.bottom__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  &-desc {
    text-transform: uppercase;
    letter-spacing: .95px;
    font-size: 14px;
  }
  &-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
  &-label {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      bottom: 0;
      left: 0;
    }
  }
  &-input {
    width: 310px;
    padding: 14px 4px;
    line-height: 1.4px;
    font-size: 18px;
    @include SegoeUI-300;
    color: $desc-color;
    background-color: transparent;
    outline: none;
    border: none;
  }
}

.arrow__btn {
  position: absolute;
  background-color: transparent;
  bottom: 65px;
  right: 0;
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    transform: translateX(7px);
  }
}

.bottom__apps {
  display: flex;
  align-items: center;
  gap: 7px;
  &-link {
    transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
    opacity: 0.7;
  }
 }
}

// adaptive nav show

@media (max-width: 1024px) {
  .nav__head {
    &-list {
      gap: 20px;
    }
    &-btn.menu span {
      height: 2px;
    }
  }
  .nav__categories {
    &-list{
    justify-content: space-between;
    }
    &-title {
      text-wrap: nowrap;
    }
  }
  .nav__menu {
    &-list {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 0 30px;
    }
      &-link.used::after {
        top: 35px;
      }
    }
     .bottom {
      &__box {
        display: none;
      }
      &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
  } 
}

  @media (max-width: 768px) {
    .nav__categories {
      &-list {
        gap: 55px;
      }
    }
    .bottom {
      &__block {
        position: relative;
      }
      &__social {
        position: absolute;
        left: 0;
        bottom: -30px;
      }
      &__form-input {
        width: 280px;
      }
    }
  }

@media (max-width: 600px) {
  .nav__head {
    &-inner {
      flex-direction: column;
    }
    &-tips {
      margin-top: 25px;
    }
  }
  .nav__menu-list {
    flex-direction: column;
  }

  .nav__categories-list {
    flex-direction: column;
    gap: 5px;
  }
  .bottom__block {
    flex-wrap: wrap;
  }
  .bottom__social {
    position: relative;
  }
}



//hero block


.hero {
  padding-bottom: 60px;
  width: 100%;
  min-height: 95vh;
  background: linear-gradient(to right, #fff 60%, $accent-color 40%);
  background-repeat: no-repeat;
  position: relative;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95vh;
    gap: 5px;
  }
  &__text {
    display: flex; 
    margin-left: 150px;
    gap: 50px;
  }
  &__link {
    display: flex;
    align-self: flex-end;
    gap: 35px; 
    color: $accent-color;
    @include SegoeUI-300;
    font-style: italic;
    letter-spacing: .80px;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
    &::before {
      content: '';
      flex-shrink: 0; 
      width: 130px;  
      height: 1px;
      background-color: $accent-color;
      transform: translateY(12px);
    }
  }
  &__ring {
    img {
      max-width: 100%;
      max-width: 300px;
      height: auto;
    }
  }
}

.hero__descr {
  &-ring {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    
  }
  &-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .67px;
    @include FuturaPT-300;
    display: flex;
  }
  &-text {
    @include FuturaPT-300;
    font-size: 18px;
    color: $desc-color;
    white-space: nowrap;
    overflow-wrap: anywhere;
  }
  &-price {
    color: #EFC58B;
    @include SegoeUI-300;
    font-size: 18px;
    font-style: italic;
    text-align: right;
  }
}

//hero adaptive

@media (max-width: 1024px) {
  .hero {
    background: linear-gradient(120deg, #fff 60%, $accent-color 40%);
    &__content {
      justify-content: flex-end;
      position: relative;
    }
    &__text {
    flex-direction: column;
    gap: 20px;
    margin: 0;
    }
    &__link {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    &::before {
      background-color: $desc-color;
    }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &__text {
      position: absolute;
      right: 50px;
    }
  }
}

@media (max-width: 600px) {
  .hero__descr {
    &-link {
      font-size: 14px;
    }
    &-text,
    &-price {
      font-size: 16px;
    }
  }
}
@media (max-width: 600px) {
  .hero__text {
    right: 0;
  }
}


//choice 

.choice {
  margin: 20px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__card {
    position: relative;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      filter: brightness(70%) opacity(0.95);
      transition: filter 0.3s ease;
    }
    &:hover img {
      filter: brightness(100%) opacity(1);
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
    &-text {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 37%;
      @include FuturaPT-300;
      font-size: 24px;
      opacity: 0.8;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 3;
    &::after {
      content: '';
      position: absolute;
      width: 130px;
      height: 1px;
      background-color: #fff;
      transform: translateX(-50%);
      left: 50%;
      opacity: 0.8;
      top: calc(100% + 30px);
    }
  }
  &__title {
    @include Forum-400;
    font-size: 64px;
    letter-spacing: 1.9px;
  }
}

//choice adaptive

@media (max-width: 1024px) {
  .choice {
    &__inner {
      gap: 10px;
    }
    &__title {
      font-size: 36px;
    }
    &__link-text {
      font-size: 18px;
    }
    &__content::after {
      top: calc(100% + 15px);
    }
  }
}

@media (max-width: 768px) {
  .choice {
    &__inner {
      gap: 3px;
    }
    &__title {
      font-size: 30px;
    }
    &__link-text {
      font-size: 16px;
    }
    &__content::after {
      top: calc(100% + 10px);
    }
  }
}

@media (max-width: 480px) {
  .choice {
    &__inner {
      flex-direction: column;
      gap: 0;
    }
    &__card img {
      display: block;
    }
 }
}


// map - form 


.map__location {
  background-color: $accent-color;
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow-x: hidden;
}

.map__content {
  margin-top: 170px;
  &-word {
    display: block;
  }
  &-text {
    max-width: 385px;
    margin-bottom: 60px;
    h3 {
      font-size: 48px;
      @include Forum-400;
      letter-spacing: 1.9px;
      margin-bottom: 15px;
    }
    p {
      @include FuturaPT-300;
      opacity: 0.9;
    }
  }
}

.map__form {
  position: relative;
  &-label {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      bottom: 0;
      left: 0;
    }
  }
    &-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
  &-input {
    width: 385px;
    padding: 14px 4px;
    line-height: 1.4px;
    font-size: 18px;
    @include SegoeUI-300;
    color: $desc-color;
    background-color: transparent;
    outline: none;
    border: none;
  }
  &-btn {
  position: absolute;
  background-color: transparent;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateX(7px) scale(1.1);

  }
}
}

.map__address {
  display: flex;
  gap: 20px;
  iframe {
    filter: brightness(0.3);
    transition: 0.3s ease;
    &:hover {
      filter: brightness(1);
    }
  }
}

//map adaptive

@media (max-width: 1024px) {
  .map__address {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .map__location {
    flex-direction: column;
    gap: 50px;
  }
  .map__address {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 0;
  }
  .map__content {
    &-text {
      h3 {
        font-size: 32px;
      }
    }
  }
}


//gallery 
.gallery {
  margin: 20px 0;

  &__inner {
    display: flex;
    gap: 20px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.left,
    &.right {
      flex: 1;
    }

    &.center {
      flex: 2;
    }
  }

  &__card {
    position: relative;
    flex: 1;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-title {
      color: $accent-color;
      font-size: 16px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      font-weight: 400;
    }
    &-text {
      @include FuturaPT-300;
      color: #757575;
    }
    &-price {
      @include SegoeUI-400;
      color: $gold-color;
      font-style: italic;
      letter-spacing: 0.4px;
    }
    &-link {
      display: block;
      width: 100%;
      flex: 1;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
    &-imgL,
    &-imgR {
      max-width: 260px;
      margin:80px auto 0;
      display: block;
    }

    &-descr {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      color: #fff;
      h4,
      p {
        margin: 0 0 10px 0;
      }
      &.full {
        h4 {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
        }
        .gallery__card-text {
          color: #e7e7e7;
          @include FuturaPT-300;
          opacity: 0.8;
        }
        .gallery__card-price {
          color: #EFC58B;
          @include SegoeUI-400;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

// gallery adaptive

@media (max-width: 1240px) {
  .gallery {
    &__card-imgL,
    &__card-imgR {
      margin: 25px auto 0;
    }
  }
}
@media (max-width: 1024px) {
  .gallery {
    &__inner {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    &__col {
      flex: 1 1 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__card-imgL,
    &__card-imgR {
      margin: 70px auto;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    &__inner {
      gap: 5px;
    }
    &__card {
      &-descr {
      position: static;
      margin-top: 10px;
      text-align: center;
      &.full {
        position: absolute;
        text-align: left;
      }
      }
    }
  }
}

//social section

.social__slider {
  margin-bottom: 80px;
  overflow: hidden;
}
.social__inner {
  background-color: $accent-color;
  padding-bottom: 100px;
}

.social__descr {
  padding: 100px 0 80px 0;
}
.social__title{
  font-size: 48px;
  @include Forum-400;
  letter-spacing: 1.4px;
  span {
    display: block;
  }
}

.slider__track {
  display: flex;
  gap: 25px;
  transform: translateX(-15%);
  &-item {
    flex: 0 0 auto;
    &:nth-child(odd) {
      width: 308px;
      height: 385px;
    }
    &:nth-child(even) {
      width: 385px;
      height: 385px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//slider 

.slider__nav {
  &-inner {
    display: flex;
    justify-content: space-between;
  }
}
.bottom__social-slider {
  display: flex;
  margin-bottom: 0;
  gap: 20px;
}

.slider__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  &-dots {
    display: flex;
    gap: 15px;
    span {
      display: block;
      background-color: #656565;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #fff;
      }
      &:nth-child(3) {
        background-color: #fff;
      }
    }
    
  }
  button {
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
    &:nth-child(1):hover {
      transform: translateX(-7px) scale(1.1);
    }
    &:nth-child(3):hover {
      transform: translateX(7px) scale(1.1);
    }
  }
}

// social-slider adaptive

@media (max-width: 1024px) {
  .slider__nav-inner {
    justify-content: space-around;
  }
  .slider__btns {
    button {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .social {
    &__title {
      font-size: 32px;
    }
  }
}

@media (max-width: 600px) {
  .slider__nav-inner {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 35px;
  }
  .bottom__social-slider {
    align-self: flex-start;
  }
}

//contacts

.contacts {
  overflow: hidden;
  &__inner {
    display: flex;
  }
  &__image {
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    &-content {
      &.pretitle, &.subscribe {
      text-transform: uppercase;
      color: $accent-color;
      letter-spacing: 0.9px;
      margin-bottom: 30px;
      font-weight: 500;
    }
      &.phone {
        @include FuturaPT-300;
        color: #959595;
        font-size: 22px;
        margin-bottom: 110px;
        display: inline-block;
        transition: all 0.3s ease;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}

.contact__form {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: $accent-color;
  }
  &-label {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      bottom: 0;
      left: 0;
    }
  }
    &-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
  &-input {
    width: 280px;
    padding: 14px 4px;
    line-height: 1.4px;
    font-size: 18px;
    @include SegoeUI-300;
    color: $desc-color;
    background-color: transparent;
    outline: none;
    border: none;
  }
  &-btn {
  position: absolute;
  background-color: transparent;
  bottom: 10px;
  right: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateX(7px) scale(1.1);
  }
 }
}

//adaptive contacts

@media (max-width: 1024px) {
  .contacts {
    &__image {
      max-width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    &__inner {
      flex-direction: column;
    }
      &__image {
        display: none;
      }
      &__form {
        margin: 30px 0;
        width: 100%;
      }
    }
 
  }


//footer

.footer {
  background-color: $accent-color;
  padding: 80px 0;
  &__img {
    max-width: 260px;
    height: auto;
  }
  &__bottom {
    display: flex;
    align-items: center;
    &-actions {
      display: flex;
      margin-left: auto;
    }
  }
  &__apps {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 16px;
    &-link {
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.7;
        transform: scale(1.2);
      }
    }
  }
}

.footer__nav {
  margin-bottom: 90px;
  &-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &-item {
    text-transform: uppercase;
    font-size: 14px;
    @include FuturaPT-500;
    letter-spacing: 0.85px;
  }
  &-link {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
       position: absolute;
       width: 0;
       height: 1.8px;
       background-color: #fff;
       display: block;
       left: 50%;
       top: 25px;
       transform: translate(-50%);
       transition: all 0.3s ease;
    }
        &:hover::after {
      width: 100%;
      background-color: $gold-color;
    }
  }
}

.footer__contact {
  margin-right: 80px;
  &-text {
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 400;
  }
  &-link {
    @include FuturaPT-300;
    color: $desc-color;
    margin-bottom: 15px;
    display: inline-block;
    transition: 0.3s ease;
    &:hover {
      color: #fff;
      transform: scale(1.1);
    }
  }
}

.footer__pretitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.footer__form {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #fff;
  }
  &-label {
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      bottom: 0;
      left: 0;
    }
  }
    &-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
  &-input {
    width: 280px;
    padding: 14px 4px;
    line-height: 1.4px;
    font-size: 18px;
    @include SegoeUI-300;
    color: $desc-color;
    background-color: transparent;
    outline: none;
    border: none;
  }
  &-btn {
  position: absolute;
  background-color: transparent;
  bottom: 10px;
  right: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateX(7px) scale(1.1);
  }
 }
}